*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100%;
}

/* Header*/

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: #1f2227;
    box-shadow: 0 0 14px rgb(255, 0, 0);
}
.navbar .logo h1{
    color: #ff0000;
    border-bottom: 4px solid#fd6561;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none!important;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
    text-decoration: none!important;
}

.navbar .menu li a i{
    color: #f63e4e;
    text-decoration: none!important;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e;
    text-decoration: none!important;
}


.content{
    background-image: url(shopping.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#424144;
    height: 100vh;
    text-decoration: none!important;
}

.content h1{
    font-size: 40px;
    text-decoration: none;
    text-decoration: none!important;
}

.content p{
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none!important;
}

.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    text-decoration: none!important;
}

.sec{
   padding: 10px 5%;
   text-decoration: none!important;

}


.products{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit , minmax(350px, 1fr));
    text-decoration: 3px;

}




.products .card {
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-decoration: underline;
}





.products .card img{
    height: 250px;
    width: 100%;
    text-decoration: none!important;

}
.products .card .desc{
    color: #424144;
    padding: 5px 20px;
    opacity: 0.8;
    text-decoration: none;
    }
.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
    text-decoration: none!important;
    }
.products .card .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20;
  text-decoration: none!important;
}

.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none!important;


}
.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e ;
    border-radius: 20px;
    text-decoration: none!important;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;
    text-decoration: none!important;
}
